name: Android APK Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Unzip source
        run: |
          unzip CasioEmuMsvc-stable-20251203170327-a003f41.zip -d srcdir
          ls -R srcdir

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant gradlew permission
        run: chmod +x srcdir/CasioEmuMsvc-stable-20251203170327-a003f41/gradlew

      - name: Build APK (release)
        working-directory: srcdir/CasioEmuMsvc-stable-20251203170327-a003f41
        run: ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: srcdir/CasioEmuMsvc-stable-20251203170327-a003f41/app/build/outputs/apk/release/*.apk
